
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.thumbnail {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.dropdown-red {
    color: #be0a0a;
}

.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

//.form-control {
//    margin-bottom: 10px;
//    padding-bottom: 20px;
//    position: relative;
//    border:0;
//}
//
//.form-control label {
//    display: inline-block;
//    margin-bottom: 5px;
//}
//
//.form-control input, .form-control textarea {
//    border: 2px solid #f0f0f0;
//    border-radius: 4px;
//    display: block;
//    font-family: inherit;
//    font-size: 14px;
//    padding: 10px;
//    width: 100%;
//}
//
//.form-control input:focus, .form-control textarea:focus{
//    outline: 0;
//    border-color: #777;
//}
//
//.form-control.success input {
//    border-color: #2ecc71;
//}
//
//.form-control.error input {
//    border-color: #e74c3c;
//}
//
//.form-control i {
//    visibility: hidden;
//    position: absolute;
//    top: 45px;
//    right: 20px;
//}
//
//.form-control.success i.fa-check-circle {
//    color: #2ecc71;
//    visibility: visible;
//}
//
//.form-control.error i.fa-exclamation-circle {
//    color: #e74c3c;
//    visibility: visible;
//}
//
//.form-control small {
//    color: #e74c3c;
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    visibility: hidden;
//}
//
//.form-control.error small {
//    visibility: visible;
//}

//.form button {
//    background-color: #646464;
//    border: 2px solid #646464;
//    border-radius: 4px;
//    color: #fff;
//    display: block;
//    font-family: inherit;
//    font-size: 16px;
//    padding: 10px;
//    margin-top: 20px;
//    width: 100%;
//}
//
//.form button[type='submit'] {
//    background-color: #8e44ad;
//    border: 2px solid #8e44ad;
//}
